# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor stuff
.vscode/
.idea/
*.swp
*.swo

# mypy / pytype / pyright
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyright/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyenv-virtualenv
.venv/

# local env files
*.env
.env.*
